<app-navbar></app-navbar>
<div class="container mt">
    <div class="row mt-3 justify-content-center text-center">
        <div class="col">
            <h1 class="fs-3">PERFIL USUARIO</h1>
        </div>
    </div>
    <div class="row mt-3 justify-content-center text-center">
        <div class="col-6">
            <mat-card class="example-card  text-center">
                <mat-card-header>
                    <mat-card-title>DATOS</mat-card-title>
    
                </mat-card-header>
                <mat-card-content>
                    <mat-card-subtitle>NOMBRE:{{User.name}}</mat-card-subtitle>
                    <mat-card-subtitle>CORREO:{{User.email}}</mat-card-subtitle>
                    <mat-card-subtitle>TELEFONO:{{User.phone}}</mat-card-subtitle>
    
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    
</div>